
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url("../components/img/cart.jpg");
    opacity: 0.8;
    background-size: cover;
}

