
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url("../components/img/cart.jpg");
    opacity: 0.8;
    background-size: cover;
}

/* .cart-qty {
    background-image: url("../components/img/huerta.jpg"), 0.6;
    /* color: white; 
    /* background-color:darkseagreen;
    margin: 1px;
    padding: 5px;
    border: solid 1px gray;    
} */
