.form-check {
    display: flex;
    flex-direction: column;
    width: auto;
}

.div-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.buy-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-check {
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color:honeydew;
}