footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;


    color: aliceblue;
    background-color: black;
    height: 200px;
    font-size: 12px;
}


.titular {
    display: flex;
    flex-direction: column;
}