
/* .section-cart {
    display: flex;
    flex-direction: column;
} */

.cart-div {
    display: flex;
    justify-content: center;
    border-bottom: 1px groove lightgray;
    margin: 10px;
}

.div-cart {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    justify-content: center;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* width: 25%; */
}

.p-cart {
    margin: 10px;
    padding: 10px;
}

.img-cart {
    width: 40%;
}

.div-prod {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

.div-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
}
.div-item {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}
.p-item {
    margin: 5px;
    padding: 5px;
}

.p-item-total {
    border: 1px solid grey;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
}